[user]
    name = Daniel, Itwaru
    email = danitwaru@gmail.com
    password = z%XE9mdp<~
[http]
    sslVerify = false
[https]
    sslverify = false
[push]
    default = simple
[credential]
    helper = cache --timeout=360000000
[core]
    autocrlf = false